<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/index.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <h1>Zero-Shot Text Classification Landing Page</h1>
    <ul>
      <li><a href="/dataset1">Netflix Titles Dataset</a></li>
      <li><a href="/dataset2">Patents Dataset</a></li>
      <li><a href="/dataset3">Essays Dataset</a></li>
    </ul>
  </body>
</html>